
#hubForm {
	font-size: 1.5em;
	margin: 2em 0 2em 0;
}

.fieldset-wrapper {
	margin: 0 0 3em 0;
}

.inline-radio {
	margin: 0 1.25em 0 0;
}

.inline-radio > input {
	margin: 0 0 0 0 !important;
}

#duration-fields {
	display: flex;
	align-items: center;
}

.btn-success {
	max-width: 15%;
	float: left;
}
