
#form-header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

hr {
	margin: 0 0 0 0;
}

.row > h4 {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.content {
	padding: 0 0 1em 0;
}

.fontcon {
	display: inline;
	font-family: 'Fontcons';
}

.fontcon:hover {
	cursor: pointer;
}

.inline-radio {
	margin: 0 1.25em 0 0;
}

#duration-fields {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}

#duration-fields > input {
	max-width: 30%;
}

input[type="number"] {
	padding: 0 0 0 .25em;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin: 1em 0 0 0;
	width: 100%;
	flex-wrap: wrap;
}

.buttons .btn {
	width: 100%;
	max-width: 400px;
	margin-top: 0.5rem;
}

.buttons > a {
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
}

#no-results {
	display: flex;
	font-size: 2em;
	justify-content: center;
	padding: 5em;
}

.tool-row {
	border: 1px solid #d6d6d6;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.09);
	font-size: 1.5em;
	line-height: 3em;
	padding: 0 0 0 1em;
}

.btn.clear {
	margin: 1.25em 0 0 0;
}

#clear-form, #clear-filters {
	width: 100%;
	max-width: 400px;
}

/*
#create-tool {
	background-color: #0069d9;
	color: #fff;
	width: 100%;
}
*/

.extra {
	width: 100%;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	margin-top: 2rem;
	padding-top: 1rem;
}

.tool-row[data-published=""] {
	background-color: #ffe1f0;
}

input[name='query[name]'] {
	width: 100%;
	font-size: 1.5em;
	margin: 0 0 1em 0;
}
