
#form-header {
	display: flex;
	justify-content: flex-end;
}

hr {
	margin: 0 0 0 0;
}

.row > h4 {
	display: flex;
	justify-content: space-between;
}

.content {
	padding: 0 0 1em 0;
}

.fontcon {
	display: inline;
	font-family: "Fontcons";
}

.fontcon:hover {
	cursor: pointer;
}

.inline-radio {
	margin: 0 1.25em 0 0;
}

#duration-fields {
	display: flex;
	justify-content: space-between;
}

#duration-fields > input {
	max-width: 30%;
}

input[type="number"] {
	padding: 0 0 0 .25em;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin: 1em 0 0 0;
}

#no-results {
	display: flex;
	font-size: 2em;
	justify-content: center;
	padding: 5em;
}

.tool-row {
	border: 2px solid #575757;
	box-shadow: 2px 2px 2px #858585;
	font-size: 1.5em;
	line-height: 3em;
	padding: 0 0 0 1em;
}

#create-tool {
	background-color: #0069d9;
	color: #fff;
	margin: 1.25em 0 0 0;
	width: 100%;
}
