
#file-uploader {
	display: flex;
	padding: 10px 0 0 0;
}

.btn-success {
	max-width: 15%;
	float: right;
}

#uploader-anchor {
	width: 100%;
}

.qq-uploader {
	position: relative;
}

.qq-upload-list {
	list-style: none;
}

.qq-upload-button,
.qq-upload-drop-area {
	background-color: #F7F7F7;
	border: 2px dashed #A3A3A3;
	font-color: #A3A3A3;
	font-size: 1.5em;
	padding: 15px 0 15px 0;
	text-align: center;
}

.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#hubForm ul li {
	margin-left: 0;
}

.qq-upload-list li {
	color: #FFFFFF;
	margin: 0 0 1px;
	padding: 0.5em;
	overflow: hidden;
	line-height: 1;
	font-size: 1em;
	list-style: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	border-radius: 0.5em;
	position: relative;
	background: #BFE613;
	background: #5DA30C -moz-linear-gradient(-45deg, rgba(45, 170, 60, 0), rgba(45, 170, 60, 0) 10%, rgba(146, 209, 0, 0.4) 30%, rgba(146, 209, 0, 0.4) 50%, rgba(45, 170, 60, 0) 50%, rgba(45, 170, 60, 0));
	background: #5DA30C -webkit-gradient(linear, 0 0, 60 60, from(rgba(45, 170, 60, 0)), color-stop(.49, rgba(45, 170, 60, 0)), color-stop(.491, rgba(146, 209, 0, .4)), color-stop(.8, rgba(146, 209, 0, .4)), color-stop(.801, rgba(45, 170, 60, 0)), to(rgba(45, 170, 60, 0)));
	background-size: 120px 120px;
	-webkit-animation-name: gradientShift;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: gradientShift;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode: both;
	-moz-animation-timing-function: linear;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-webkit-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
}

@-webkit-keyframes gradientShift {
	0%   { background-position-x: 0px; }
	100% { background-position-x: 120px; }
}

@-moz-keyframes gradientShift {
	0%   { background-position: 0px 0; }
	100% { background-position: 120px 0; }
}

.qq-upload-failed-text,
.qq-upload-size {
	display: none !important;
}

.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}

.qq-upload-list li.qq-upload-success {
	background: #5DA30C;
	color: #FFFFFF;
}

.qq-upload-list li.qq-upload-fail {
	background: #AF0000;
	color: #FFFFFF;
}
